<template name="network">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="lead">
          Force-Directed Network
        </h2>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col">
        <input type="search" id="network-search">
        <input class="btn" type="button" value="Search" for="network-search">
      </div>
    </div> -->
    <div class="row">
      <div class="col">
        <div id="network-visualization"></div>
      </div>
    </div>
  </div>
</template>
