<template name="navbar">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">
        <div id="teneo-logo" class="teneo-logo"></div>
      </a>
      <ul id="nav-mobile" class="side-nav">
<!--         <div class="middle">
  <li><a href="/test">Test</a></li>
</div> -->
        <div class="right">
          <li><a href="/about">About</a></li>
          <li><a href="/grouped">Grouped</a></li>
          <li><a href="/network">Network</a></li>
        </div>
      </ul>
      <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</template>
