<template name="grouped">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="lead">Multi-Foci Force Layout</h2>
      </div>
    </div>
    <div class="row">
      <ul class="tabs">
        <li class="tab col s2"><a href="">Occupation</a></li>
        <li class="tab col s2"><a href="">Location</a></li>
        <li class="tab col s2"><a href="">Gender</a></li>
        <li class="tab col s2"><a href="">Marital Status</a></li>
      </ul>
    </div>
    <!-- In case you want to use buttons... -->
  <!--   <div class="row sort-by">
    <div class="col">
      <a class="waves-effect waves-light btn sort-by-button">Occupation</a>
      <a class="waves-effect waves-light btn sort-by-button">Location</a>
      <a class="waves-effect waves-light btn sort-by-button"><i class="mdi-file-cloud left"></i>Gender</a>
      <a class="waves-effect waves-light btn sort-by-button">Marital Status</a>
    </div>
  </div> -->
    <div class="row">
      <div class="col">
        <div id="grouped-network"></div>
      </div>
    </div>
  </div>
</template>
