<template name="map">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="lead">
          Concentration Map
        </h2>
      </div>
    </div>
    <div class="row">
      <ul class="tabs">
        <li class="tab col s2">
          <a href="" class="dropdown-button">Occupation &#x25BE;</a>
          <ul class='content-hidden'>
            <li><a href="#!">Law</a></li>
            <li><a href="#!">Finance</a></li>
            <li><a href="#!">Entrepreneur</a></li>
          </ul>
        </li>
        <li class="tab col s2">
          <a href="" class="dropdown-button">Interests &#x25BE;</a>
          <ul class="content-hidden">
            <li><a href="">Hiking</a></li>
            <li><a href="">Boating</a></li>
            <li><a href="">Running</a></li>
            <li><a href="">Cooking</a></li>
            <li><a href="">Crepes</a></li>
            <li><a href="">Hockey</a></li>
            <li><a href="">Poker</a></li>
          </ul>
        </li>
        <li class="tab col s2">
          <a href="" class="dropdown-button">Gender &#x25BE;</a>
          <ul class="content-hidden">
            <li><a href="">Male</a></li>
            <li><a href="">Female</a></li>
          </ul>
        </li>
        <li class="tab col s2">
          <a href="">Marital Status &#x25BE;</a>
          <ul class="content-hidden">
            <li><a href="">Married</a></li>
            <li><a href="">Single</a></li>
            <li><a href="">Other</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col">
        <div id="tooltip"></div>
        <div id="concentration-map"></div>
      </div>
    </div>
  </div>
</template>
