<template name="grouped2">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="lead">Bubble Chart</h2>
      </div>
    </div>
    <div class="row">
      <ul class="tabs">
        <li class="tab col s2"><a id="tab1" href="">Occupation</a></li>
        <li class="tab col s2"><a id="tab2" href="">Location</a></li>
        <li class="tab col s2"><a id="tab3" href="">Gender</a></li>
        <li class="tab col s2"><a id="tab4" href="">Marital Status</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col">
        <div id="grouped-network"></div>
      </div>
    </div>
  </div>
</template>
